.form-control::placeholder {
  color: #A4B7C1;
} /* Chrome, Firefox, Opera*/
:-ms-input-placeholder.form-control {
  color: #A4B7C1;
}  /* Internet Explorer*/
.form-control::-ms-input-placeholder {
  color: #A4B7C1;
}  /* Microsoft Edge*/
